* {
  margin: 0;
  padding: 0;
}
.content {
  width: 400px;
  height: 200px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  overflow: hidden;
}
.content .circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #fc0;
}
.content .circle-left {
  position: absolute;
  left: -50px;
  top: -50px;
}
.content .circle-right {
  position: absolute;
  right: -50px;
  bottom: -50px;
}
