* {
  margin: 0;
  padding: 0;
}
body {
  background: #ddd;
}
header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #333;
  margin-bottom: 20px;
}
header nav {
  width: 1240px;
  margin: 0px auto;
}
header h1 {
  display: inline-block;
  float: left;
  color: #fff;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
  margin-left: 20px;
}
header ul li a {
  color: #fff;
}
header ul li.current a {
  color: #ccc;
}
.content {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}
article,
form {
  border: solid 1px #ccc;
  padding: 40px 20px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 2px 2px 2px #848484;
}
article {
  margin-right: 384px;
}
article h2 {
  font-size: 22px;
  margin-bottom: 22px;
}
article h3 {
  font-size: 16px;
  margin-bottom: 18px;
  color: #666;
}
article .article {
  margin-bottom: 22px;
}
article .article span {
  font-size: 14px;
  color: #666;
}
article p {
  text-indent: 2em;
  line-height: 25px;
}
article img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  min-width: 100px;
  height: auto;
}
article ul {
  list-style-type: none;
  line-height: 27px;
}
article figure {
  display: inline-block;
  width: 120px;
  height: 124px;
  text-align: center;
  border: solid 1px #ccc;
  margin-bottom: 15px;
}
article figure figcaption {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
article figure img {
  display: inline-block;
  width: 100px;
  height: 81px;
  margin-top: 0px;
}
article ol {
  margin-bottom: 22px;
  margin-left: 44px;
  line-height: 26px;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  /*设置表格的边框被合并为一个单一的边框*/
}
table thead {
  background: #333;
  border: solid 1px #ccc;
}
table thead th {
  height: 24px;
}
table tbody td,
table tfoot td {
  width: 33.4%;
  height: 24px;
  line-height: 24px;
  border: solid 1px #ccc;
}
table tfoot {
  background: #ccc;
}
table tfoot td {
  width: 33.4%;
  height: 24px;
  line-height: 24px;
}
.title {
  border-left: solid 3px #ccc;
  margin-bottom: 30px;
  height: 38px;
  line-height: 38px;
  padding-left: 15px;
}
form {
  position: absolute;
  right: 0px;
  top: 0px;
  /* float: right;
	margin-right: 20px;
	marign-top:0; */
  width: 322px;
  font-size: 12px;
}
form label {
  width: 100%;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  overflow: hidden;
}
form label span {
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 13px;
  float: left;
}
form label input[type="text"],
form label input[type="password"] {
  height: 20px;
  border: solid 1px #ccc;
  margin-bottom: 12px;
  padding-left: 3px;
  font-size: 12px;
}
form label select,
form label textarea {
  margin-bottom: 12px;
}
form p {
  margin-bottom: 24px;
  margin-left: 30%;
  padding-left: 13px;
}
form .submit {
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: #3366cc;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-family: "MicroSoft YaHei";
  color: #fff;
  margin-top: 12px;
}
footer {
  background: #333;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}
