* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
}
.content {
  background: #eee;
  padding: 20px;
  overflow: auto;
  min-width: 600px;
  border: solid 1px #ccc;
}
.content_left {
  float: left;
  width: 160px;
  border: solid 1px #ccc;
  padding: 20px;
  background: #fff;
}
.content_left img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.content_left figcaption {
  font-size: 14px;
}
.content_mid {
  padding: 20px;
  border: solid 1px #ccc;
  background: #fff;
  margin-left: 220px;
  margin-right: 140px;
}
.content_mid p {
  text-indent: 2em;
  line-height: 24px;
}
.content_right {
  width: 120px;
  background: #fff;
  float: right;
  border: solid 1px #ccc;
}
.content_right li {
  list-style-type: none;
  margin: 20px;
}
.content_right img {
  width: 80px;
  height: 80px;
}
