* {
  margin: 0;
  padding: 0;
}
/*text*/
/*font*/
/*font-family*/
body {
  width: 892px;
  height: 1298px;
  padding: 0 44px;
  margin: 0 auto;
}
header {
  width: 892px;
  height: 61px;
  overflow: hidden;
  border-bottom: solid 2px #938e8c;
  margin-bottom: 34px;
  position: relative;
  font: 12px "黑体";
}
header .logo {
  width: 110px;
  height: 61px;
  background: #d55d5c;
  color: #fff;
  text-align: center;
  float: left;
  position: relative;
}
header .logo span {
  position: absolute;
  margin-left: -15px;
  left: center;
  bottom: 5px;
}
header .time {
  float: right;
  color: #d55d5c;
  position: absolute;
  right: 0;
  bottom: 0;
}
.banner .banner_left {
  width: 641px;
  float: left;
  margin-right: 48px;
  position: relative;
}
.banner .banner_left img {
  width: 641px;
  height: 301px;
}
.banner .banner_left span {
  width: 191px;
  height: 301px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /*IE*/
  -moz-opacity: 0.7;
  /*ff*/
}
.banner .banner_left span.green {
  position: absolute;
  left: 0;
  top: 0;
  background: #75b86b;
}
.banner .banner_left span.red {
  position: absolute;
  right: 0;
  top: 0;
  background: #d55d5c;
}
.banner .banner_right {
  width: 203px;
  float: right;
  border-top: solid 2px #cc8091;
}
.banner .banner_right h3 {
  padding-top: 6px;
  font: 24px/28px "Microsoft YaHei";
  color: #000;
  text-decoration: underline;
}
.banner .banner_right p {
  font: 12px/10px "楷体";
  color: #676767;
  margin-top: 4px;
}
.banner .banner_right h1 {
  font: italic 116px "Microsoft YaHei";
  color: #75b86b;
}
.banner .banner_right .number {
  overflow: hidden;
  font-family: "Microsoft YaHei";
}
.banner .banner_right .number h2 {
  float: left;
  font-size: 55px;
  color: #cc8091;
}
.banner .banner_right .number span {
  display: block;
  font-size: 21px;
}
.banner .banner_right .number small {
  display: block;
  font-size: 12px;
}
.pargra {
  clear: both;
  overflow: hidden;
  margin-bottom: 75px;
}
.pargra section {
  margin-right: 30px;
  float: left;
}
.pargra section h2 {
  font-size: bold 16px;
  text-decoration: underline;
  margin-bottom: 11px;
}
.pargra section p {
  font: 12px/16px "宋体";
  color: #231815;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /*IE*/
  -moz-opacity: 0.7;
  /*ff*/
  word-spacing: 2px;
}
.pargra section ul {
  font: 12px "Microsoft YaHei";
  list-style-type: none;
}
.pargra section ul li span {
  font-style: italic;
  color: #cc8091;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /*IE*/
  -moz-opacity: 0.7;
  /*ff*/
}
.pargra section:nth-child(1) {
  width: 228px;
}
.pargra section:nth-child(1) h2 {
  color: #75b86b;
}
.pargra section:nth-child(2) {
  width: 205px;
}
.pargra section:nth-child(2) h2 {
  color: #cc9966;
}
.pargra section:nth-child(3) {
  width: 132px;
}
.pargra section:nth-child(3) h2 {
  color: #cc8091;
}
.pargra section:nth-child(3) p {
  line-height: 22px;
  margin-bottom: 13px;
}
.content {
  overflow: hidden;
}
.content .content-left {
  width: 415px;
  margin-right: 19px;
  float: left;
}
.content .content-left h1 {
  height: 50px;
  float: left;
  font: italic bold 72px/50px "Microsoft YaHei";
  color: #f5e327;
}
.content .content-left span {
  float: right;
  margin-top: 17px;
  font: bold 34px "Microsoft YaHei";
  color: #11456b;
}
.content .content-left h2 {
  clear: both;
  display: block;
  font: bold 34px "Microsoft YaHei";
  color: #11456b;
}
.content .content-left div {
  margin-top: 20px;
  border-top: solid 2px #11456b;
  padding-top: 25px;
}
.content .content-left div img {
  float: right;
  padding: 19px 0 19px 19px;
}
.content .content-left div h3 {
  margin-right: 13px;
  float: left;
  font-size: 72px;
  font-weight: bold;
  color: #f5e327;
}
.content .content-left div p {
  font: 12px/16px "宋体";
  color: #767777;
}
.content .content-left div p:not(:first-of-type) {
  text-indent: 2em;
}
.content .content-right {
  float: right;
  width: 458px;
}
.content .content-right figure {
  position: relative;
  height: 275px;
  margin-bottom: 30px;
}
.content .content-right figure img {
  width: 100%;
  height: 100%;
}
.content .content-right figure figcaption {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  filter: alpha(opacity=40);
  background: rgba(0, 0, 0, 0.4);
}
.content .content-right figure figcaption .title {
  width: 100%;
  height: 44px;
  position: absolute;
  left: 0;
  top: 8px;
  color: #75b86b;
  font: italic 12px/44px "Microsoft YaHei";
}
.content .content-right figure figcaption h2 {
  display: inline-block;
  margin-left: 38px;
  padding-left: 12px;
  padding-right: 9px;
  border-left: solid 3px #75b86b;
  font: 26px "Microsoft YaHei";
  color: #fff;
}
.content .content-right .content-bottom {
  width: 459px;
  height: 318px;
  background: #eeedd6;
  position: relative;
}
.content .content-right .content-bottom ul {
  list-style-type: none;
  padding-top: 32px;
}
.content .content-right .content-bottom ul li {
  font: 16px/20px;
  margin-bottom: 20px;
  margin-left: 31px;
  padding-left: 17px;
  background: url(../img/task6-triangle.png) 0 center no-repeat;
}
.content .content-right .content-bottom ul li span {
  font: italic 12px;
}
.content .content-right .content-bottom .red {
  background: #d55d5c;
  width: 260px;
  padding-top: 40px;
  padding-bottom: 33px;
  height: 87px;
  color: #fff;
  margin-right: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .content-right .content-bottom .red h1 {
  float: left;
  width: 70px;
  height: 85px;
  font: 110px/85px "Microsoft YaHei";
  margin-left: 10px;
  margin-right: 8px;
  border-right: solid 2px #fff;
}
.content .content-right .content-bottom .red h2 {
  width: 165px;
  float: left;
  font: italic 21px "黑体";
}
.content .content-right .content-bottom .red h2 span {
  display: block;
  font-size: 12px;
  font-style: normal;
}
.content .content-right .content-bottom p {
  float: right;
  width: 175px;
  height: 130px;
  margin-top: 30px;
}
.content .content-right .content-bottom p span {
  font: 72px "黑体";
  color: #d55d5c;
}
.content .content-right .content-bottom p .spanleft {
  float: left;
  margin: -18px 10px 0 -40px;
  height: 30px;
}
.content .content-right .content-bottom p .spanright {
  float: right;
}
footer {
  clear: both;
  width: 892px;
  border-top: solid 2px #938e8c;
  text-align: right;
  color: #d55d5c;
  margin-bottom: 45px;
  margin-top: 40px;
  font-family: "黑体";
}
